* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.container {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
:root {
    --bodyBg:rgba(255, 220, 209, 1);
    --textColor: rgba(37, 43, 66, 1);
    --second-text-color:rgba(115, 115, 115, 1);
    --primary-color:rgba(35, 166, 240, 1);
    --white-color:#fff;
}
header {
    background: var(--bodyBg);
}
nav {
    position: fixed;
    backdrop-filter: blur(25px);
    z-index: 1;
    width: 100%;
}
.nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.logo {
    font-size: 24px;
    color: var(--textColor);
    font-weight: 700;
}
.nav_list {
    display: flex;
    gap: 21px;
    a {
        color: var(--second-text-color);
        font-size: 14px;
        font-weight: 700;
        transition: color 0.3s ease;
        &:hover {
            color: var(--primary-color);
        }
    }
}
.nav_btn {
    display: flex;
    align-items: center;
    gap: 45px;
}
.btnSolid {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color);
    transition: 500ms;
    &:hover {
        opacity: 50%;
    }
}
.btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 25px;
    background: var(--primary-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--white-color);
    transition: 500ms;
    border: 1px solid var(--primary-color);
    &:hover {
        background: transparent;
        color: var(--primary-color);
    }
}
.header_txt {
    padding-top: 130px;
    text-align: center;
    max-width: 542px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
    h3 {
        font-size: 16px;
        font-weight: 700;
        color: var(--primary-color);
        margin: 40px 0;
    }
    h1 {
        font-size: 58px;
        font-weight: 700;
        color: var(--textColor);
        margin: 0 auto;
    }
    p {
        font-size: 20px;
        font-weight: 400;
        color: var(--second-text-color);
        margin: 40px 0;
    }
    .header_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        a:nth-of-type(1) {
            padding: 15px 40px;
        }
        a:nth-of-type(2) {
            padding: 15px 40px;
            border: 1px solid var(--primary-color);
            border-radius: 5px;
        }
    }
}
.header_box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}
.header_card {
    max-width: 328px;
    width: 100%;
    background: #fff;
    padding: 35px 40px;
    i {
        width: 27px;
        padding: 25px;
        background: rgba(178, 227, 255, 1);
        color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    h4 {
        font-size: 16px;
        font-weight: 700;
        color: var(--textColor);
        position: relative;
        &::after {
            content: '';
            width: 50px;
            height: 2px;
            background: rgba(231, 64, 64, 1);
            position: absolute;
            left: 0;
            bottom: -20px;
        }
    }
    p {
        font-size: 14px;
        color: var(--second-text-color);
        margin-top: 42px;
    }
}
.header_card:nth-of-type(2) {
    i {
        background: rgba(185, 234, 168, 1);
        color: rgba(45, 192, 113, 1);
    }
} 
.header_card:nth-of-type(3) {
    background: var(--primary-color);
    h4 {
        color: var(--white-color);
        &::after {
            background: var(--white-color);
        }
    }
    p {
        color: var(--white-color);
    }
    i {
        background: var(--white-color);
    }
} 


/* about */
.about_content {
    margin: 160px auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 160px;
}
.about_box {
    max-width: 508px;
    width: 100%;
    position: relative;
}
.about_box_diagram {
    position: absolute;
    left: 0;
    top: 14px;
}
.about_box_img {
    position: absolute;
    top: 0;
    left: 125px;
}
.about_box_card {
    position: absolute;
    left: 0;
    top: 258px;
}
.about_box_color {
    width: 52px;
    height: 52px;
    background: rgba(226, 246, 255, 1);
    position: absolute;
    left: 52px;
    top: 0;
    z-index: -1;
}
.about_box_color2 {
    width: 33px;
    height: 57px;
    background: rgba(255, 220, 224, 1);
    position: absolute;
    left: 465px;
    top: 285.2px;
    z-index: -1;
}
.about_txt {
    max-width: 351px;
    width: 100%;
    h2 {
        font-size: 40px;
        font-weight: 700;
        color: var(--textColor);
        margin-top: 42px;
        position: relative;
        &::before {
            content: '';
            width: 64px;
            height: 7px;
            background: rgba(231, 64, 64, 1);
            position: absolute;
            left: 0;
            top: -35px;
        }
    }
    p {
        font-size: 14px;
        color: var(--second-text-color);
        margin: 35px 0;
    }
}
/* product */
.products_content {
    margin: 112px auto;
    h4 {
        font-size: 14px;
        font-weight: 700;
        color: var(--primary-color);
    }
    h2 {
        font-size: 40px;
        font-weight: 700;
        color: var(--textColor);
        margin: 10px 0;
    }
    p {
        font-size: 14px;
        color: var(--second-text-color);
    }
}
.product_block {
    display: flex;
    justify-content: space-between;
    margin-top: 112px;
}
.product_card {
    width: 238px;
}
.product_img {
    width: 100%;
    height: 300px;
    background: url(img/product-cover-162.png);
    position: relative;
}
.bg2 {
    background: url(img/product-cover-161.png);
}
.bg3 {
    background: url(img/product-cover-160.png);
}
.bg4 {
    background: url(img/product-cover-163.png);
}
.pro_txt {
    padding: 25px;
    h2 {
        font-size: 16px;
        font-weight: 700;
        color: var(--textColor);
    }
    p {
        font-size: 14px;
        color: var(--second-text-color);
        margin: 10px 0;
    }
    h5 {
        font-size: 14px;
        font-weight: 700;
        display: flex;
        gap: 10px;
        color: var(--second-text-color);
        margin-bottom: 15px;
    }
}
.pro_btn {
    width: 170px;
    a {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 25px;
        border: 2px solid var(--primary-color);
        padding: 10px 20px;
        border-radius: 25px;
        font-size: 14px;
    }

}
.price {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
    h6 {
        font-size: 16px;
        color: var(--second-text-color);
        &:nth-of-type(2) {
            color: rgba(64, 187, 21, 1);
        }
    }
}
.pro_star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        font-size: 14px;
        font-weight: 700;
        color: var(--primary-color);
    }
    span {
        display: flex;
        padding: 5px 7px;
        background: #000;
        border-radius: 15px;
        color: var(--white-color);
        font-size: 15px;
        gap: 2px;
        align-items: center;
        i {
            color: rgba(255, 206, 49, 1);
        }
    }
}
.pro_icon {
    display: flex;
    gap: 10px;
    span {
        font-size: 12px;
        i {
            color: var(--primary-color);
        }
    }
    span:nth-of-type(2) {
        i {
            color: rgba(231, 124, 64, 1);
        }
    }
}
.pro_sale {
    font-size: 14px;
    color: var(--white-color);
    width: 51px;
    height: 21px;
    text-align: center;
    border-radius: 3px;
    background: rgba(231, 64, 64, 1);
    position: absolute;
    top: 20px;
    left: 20px;
}
.pro_btn_icon {
    display: flex;
    position: absolute;
    top: 236px;
    left: 50px;
    gap: 10px;
    i {
        font-size: 18px;
        padding: 12px;
        color: var(--textColor);
        background: var(--white-color);
        border-radius: 50%;
    }
}
/* client */
.client {
    background: var(--bodyBg);
    padding: 160px 0;
}
.client_txt {
    h3 {
        font-size: 14px;
        font-weight: 700;
        color: var(--primary-color);
    }
    h2 {
        font-size: 40px;
        font-weight: 700;
        color: var(--textColor);
        margin: 10px 0;
    }
    p {
        font-size: 14px;
        color: var(--second-text-color);
    }
}
.client_block {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}
.client_card {
    max-width: 500px;
    width: 100%;
    padding: 25px;
    background: var(--white-color);
    text-align: center;
    img {
        border-radius: 50%;
        margin-bottom: 30px;
    }
    p {
        font-size: 14px;
        color: var(--second-text-color);
        margin-bottom: 17px;
    }
    h3 {
        font-size: 16px;
        font-weight: 700;
        color: var(--textColor);
        margin-bottom: 5px;
    }
    h4 {
        font-size: 14px;
        font-weight: 700;
        color: var(--second-text-color);
    }
}
.client_star {
    i {
        color: rgba(243, 205, 3, 1);
        margin-bottom: 15px;
    }
}
/* subscribe */
.subscribe_content {
    text-align: center;
    margin: 160px auto;
    h3 {
        font-size: 14px;
        font-weight: 700;
        color: var(--primary-color);
    }
    h2 {
        font-size: 40px;
        font-weight: 700;
        color: var(--textColor);
        margin: 10px 0;
    }
    p {
        font-size: 14px;
        color: var(--second-text-color);
    }
}
form {
    max-width: 690px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px; 
    position: relative;
    input {
        width: 100%;
        padding: 15px 20px;
        border: 1px solid rgba(230, 230, 230, 1);
        outline: none;
    }
    button {
        font-size: 14px;
        padding: 14px 22px;
        border: none;
        background: var(--primary-color);
        position: absolute;
        right: 0;
        color: var(--white-color);
    }
}
/* footer */ 

.footer_top {
    display: flex;
    margin: 80px 0;
    justify-content: space-between; 
    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
        color: var(--textColor);
    }
    span {
        display: flex;
        flex-direction: column;
        a {
            font-size: 14px;
            color: var(--second-text-color);
            margin: 5px 0;
        }
        p {
            font-size: 14px;
            color: var(--second-text-color);
            margin-bottom: 25px;
        }
    }
}
.footer_link {
    display: flex;
    gap: 10px;
    i {
        color: var(--primary-color);
        font-size: 23px;
    }
}
.footer_bottom {
    p {
        text-align: center;
        padding: 25px 0;
        font-size: 14px;
        font-weight: 700;
        color: var(--second-text-color);
    }
}